language: ruby
rvm:
 - 2.5.3
before_install:
  - sudo apt-get install -y libvips-tools
addons:
  postgresql: "9.6"
services:
  - postgresql
cache:
  bundler: true
  directories:
    - /home/travis/.rvm/
