name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
  # UTC Tuesdays 0900. 3/4am ET. note, not sure where notifications failed scheduled builds go...
  schedule:
    - cron: '0 9 * * TUE'


env:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_HOST: localhost

jobs:
  tests:
    services:
      db:
        image: postgres:9.6
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports: ['5432:5432']

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - gemfile: rails_60
            ruby: 2.7

          - gemfile: rails_61
            ruby: '3.0'

          - gemfile: rails_70
            ruby: '3.1'

          - gemfile: rails_70
            ruby: '3.2'


    name: test ${{ matrix.gemfile }}, ruby ${{ matrix.ruby }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: false

    - name: Bundle install
      run: |
        bundle config set gemfile "${GITHUB_WORKSPACE}/gemfiles/${{ matrix.gemfile }}.gemfile"
        bundle install --jobs 4 --retry 3

    - name: Install apt-get dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y install libvips-tools ffmpeg exiftool

    - name: Prepare app
      env:
        RAILS_ENV: test
      run: |
         bundle exec rails db:create
         bundle exec rails db:schema:load

    - name: Run tests
      run: |
        bundle exec rspec
